body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainApp {
    height: 60%;
    width: 50%;
    border: 1px solid black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.inputFieldDiv {
    width: 100%;
    height: 3rem;
    background-color: yellow;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0rem 0.3rem;
}

.inputField {
    width: 80%;
}

.addButton {
    width: 10%;
}

/* .taskListDiv {
    display
} */

/* .taskList {

} */

ul {
    list-style-type: none;
}

li {
    display: flex;
    justify-content: space-between;
}