* {
    padding: 0px;
    margin: 0px;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainApp {
    height: 30rem;
    width: 25rem;
    border: 1px solid black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.inputFieldDiv {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0rem 0.3rem;
}

.inputField {
    width: 80%;
}

.addButton {
    width: 10%;
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 2rem;
}

.taskListDiv {
    width: 100%;
    overflow-y: scroll;
    height: 25rem;
}

ul {
    list-style-type: none;
}

li {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.3rem 0.3rem;
    border-bottom: 1px solid black;
}

.liButtonDiv {
    display: flex;
    justify-content: space-around;
    width: 30%;
    padding-right: 0.4rem;
}

.removeButtonOrDoneButton {
    border: none;
}

.lightBlue {
    background-color: #33CCFF;
}

.darkBlue {
    background-color: #3300CC;
}

.lightYellow {
    background-color: #FFFF99;
}

.darkYellow {
    background-color: #FF3300;
}

.white {
    background-color: white;
}

.black {
    background-color: #202020;
}

.showDoneButton {
    height: 100%;
    width: 50%;
}

.darkModeButton {
    height: 100%;
    width: 50%;
}

.hide {
    display: none;
}

.whiteLetters {
    color: white;
}